/* MOBILE FIRST */

.Planet {
    padding-top: 4rem;
}

.card-list {
    padding: 0 1.5em;
}

.card-list:last-child {
    margin-bottom: 3em;
}

.card-list-item {
    list-style-type: none;
    margin-bottom: .5em;
}

/* TABLET */

@media (min-width: 600px){
    .Planet {
        padding-top: 8rem;
    }

    .card-list {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .card-list-item {
        margin-right: 1em;
        width: 100%;
    }

    .card-list-item:last-child {
        margin-right: 0;
    }
}

/* DESKTOP */

@media (min-width: 1000px) {
    .Planet {
        padding-top: 4rem;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }
}