nav {
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

nav h1 {
    font-weight: 400;
}

.dropdown-menu {
    background-color: var(--dark-bg);
    align-items: center;
    position: fixed;
    left: 0;
    padding-left: 0;
    top: 4rem;
    width: 100%;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.nav-list-item {
    position: relative;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    padding: 0 .5em;
    list-style-type: none;
}

.nav-list-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    
}

.nav-list-item:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, .1), rgba(0, 0, 0, 0))
}

.nav-list-planet {
    position: absolute;
    left: 4rem;
    font-family: var(--spartan);
    font-size: 15px;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
