.Page {
    text-align: center;
}

.buttons-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--dark-grey);
    margin-bottom: 2em;
}

.page-button {
    height: 2.5rem;
    font-family: var(--spartan);
    font-size: .625rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--light-grey);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.page-button-active {
    color: var(--white);
    border-bottom: 4px solid var(--activePlanet);
    padding-top: 5px;
}

.image-div {
    position: relative;
    height: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-image {
    transform: scale(.5);
}

.geo-image {
    position: absolute;
    transform: scale(.2);
    top: 10%;
}

.content-div {
    padding: 0 1.5em;
}

.planet-name {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: .5em;
}

.page-content {
    margin-bottom: 2.5em;
    font-size: 11px;
    line-height: 2;
    letter-spacing: .6px;
}

.source {
    margin-bottom: 2em;
    color: var(--light-grey);
    font-size: .75rem;

    width: 35%;
    margin: 0 auto 2em;
}

.source a {
    color: var(--light-grey);
    text-decoration: underline;
    font-weight: bold;
    margin-left: .5em;
}

.source img {
    margin-left: .5em;
}

/* TABLET */

@media (min-width: 600px){
    .Page {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 500px 250px;
    }
    
    .buttons-div {
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: self-start;
        flex-direction: column;
        margin: 0 2rem;
        padding-top: 2rem;
        border-bottom: none;
    }

    .page-button {
        width: 100%;
        border: 1px solid var(--dark-grey);
        margin-bottom: 1.5em;
        color: var(--white);
        text-align: left;
        padding-left: 2em;
    }

    .page-button-active {
        border: none;
        background-color: var(--activePlanet);
        padding-top: 0;
    }

    .page-button:hover {
        background-color: var(--light-grey);
    }

    .page-button-active:hover {
        background-color: var(--activePlanet);
    }

    .buttons-div span {
        color: var(--white);
        opacity: .5;
        margin-right: 1.5em;
    }
    
    .image-div {
        grid-row: 1/2;
        grid-column: 1/3;
        align-self: center;
    }
    
    .planet-image {
        scale: 1.5;
    }
    
    .content-div {
        padding: 0 2rem;
        text-align: left;
    }

    .source {
        margin: 0 0 2em;
        width: 100%;
        display: flex;
    }
}

/* DESKTOP */

@media (min-width: 1000px) {
    
}