/* MOBILE FIRST */

.App {
    background-color: var(--dark-bg);
    background-image: url('assets/background-stars.svg');
    color: var(--white);
    min-height: 100vh;
    padding-bottom: 1em;
}

/* TABLET */

@media (min-aspect-ratio: 6/10){
    .App {
        
    }
}

/* DESKTOP */

@media (min-aspect-ratio: 1/1){
    .App {
        background-color: red;
    }
}