/* MOBILE FIRST */

.App {
    background-color: var(--dark-bg);
    background-image: url('assets/background-stars.svg');
    color: var(--white);
    min-height: 100vh;
    padding-bottom: 1em;
}

/* TABLET */

@media (min-width: 600px){
    .App {
        
    }
}

/* DESKTOP */

@media (min-width: 1000px){
    .App {
        
    }
}